<div class="search">
  <form #from="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search Country" name="city" [(ngModel)]="cityName">
  </form>
</div>
<div class="container" *ngIf="weatherdata">
  <div class="upper-data">
    <img src="../assets/cold.jpg" *ngIf="weatherdata.current.temp_c<= 15" >
    <img src="../assets/warm.jpg"  *ngIf="weatherdata.current.temp_c > 15">

  <div class="weather-data"> 
    <div class="location">{{weatherdata.location.name}}</div>
    <div class="Temp">{{weatherdata.current.temp_c |number: '1.0-0' }}&#8451;</div>
  </div>
  </div>
  <div class="lower-data"> 
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/low-temperature.png" alt="" class="scr">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherdata.forecast.forecastday[0].day.mintemp_c}}&#8451;
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/maximum temperature.png" alt="" class="scr">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherdata.forecast.forecastday[0].day.maxtemp_c}}&#8451;
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity_1.png" alt="" class="scr">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherdata.current.humidity}}&#8451;
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="" class="scr">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{weatherdata.current.wind_kph}}km/h;
        </div>
      </div>

    </div>
  </div>

</div>
<!--copy of above code , for static reference-->
<!-- <div class="container">
  <div class="upper-data">
    <img src="../assets/cold.jpg" *ngIf="14 <= 15" >
    <img src="../assets/warm.jpg"  *ngIf="14 > 15">

  <div class="weather-data"> 
    <div class="location">Bangalore</div>
    <div class="Temp">{{ 14.40 |number: '1.0-0' }}&#8451;</div>
  </div>
  </div>
  <div class="lower-data"> 
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/low-temperature.png" alt="" class="scr">
          <span>min</span>
        </div>
        <div class="info-block-value">
          10&#8451;
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/maximum temperature.png" alt="" class="scr">
          <span>max</span>
        </div>
        <div class="info-block-value">
          30&#8451;
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity_1.png" alt="" class="scr">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          77&#8451;
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="" class="scr">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          11km/h;
        </div>
      </div>

    </div>
  </div>

</div> -->
<router-outlet></router-outlet>
